{
  "env": {
    "browser": true,
    "es6":true,
    "jest":true
  },
  "globals": {
    "require": true,
    "module":true,
    "window":true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "always"],
    "no-undef" : [2]
  },
  "ecmaFeatures": {
        "jsx": true
    }
}