.root{
	
}
.montana{
	
}
.heading{
	padding-left:16px;
}
.montana__list{
		list-style : none;
		margin:0;
		padding:0;
		li{
			background:white;
			box-sizing:border-box;
			padding: 12px 18px;
			box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
		}
	}
.montana__attribution{
	font-size:10px;
	display:block;
	color : #aaa;
	line-height:1.2
}
.montana__text{
	display:block;
	line-height:1.6;
	font-size:16px;
}