.root{
	
}
.montana{
	
}
.montana__list{
		list-style : none;
		margin:0;
		padding:0;
		li{
			background:white;
			margin:15px 0;
			box-sizing:border-box;
			padding: 12px 16px;
		}
	}
.montana__attribution{
	font-size:10px;
	display:block;
	color : #aaa;
	line-height:1.2
}
.montana__text{
	display:block;
	line-height:1.6;
	font-size:16px;
}