.root{
	padding:16px 18px ;
	background : #3f51b5;
	color : white;
}
.social{
	float:right;
	margin:0;
	padding:0;
	list-style:none;
	li{
		float:left;
	}
	a{
		text-decoration:none;
		color : white;
	}
}