doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		if env != 'development'
			style
				include ../../static/style.css
	body
		#app
			if env == 'development'
				script(type="application/javascript" src="http://localhost:2000/assets/vendor.js")
				script(type="application/javascript" src="http://localhost:2000/assets/bundle.js")
			else
				script(type="application/javascript" src="vendor.js")
				script(type="application/javascript" src="bundle.js")
				
