html
	head
                meta(http-equiv="content-type", content="#{contentType}; charset="UTF-8")

		if env != 'development'
			style
				include ../../static/style.css
	body
		#shell
		#app
			if env == 'development'
				script(src="http://localhost:2000/assets/vendor.js")
				script(src="http://localhost:2000/assets/bundle.js")
			else
				script(src="vendor.js")
				script(src="bundle.js")
				
